body {
   margin: 0;
   padding: 0;
   font-size: 30px;
   
}


section{
   background-color: #f2f3f4;
   min-height: 100vh;
   padding-top: 10%;
   box-sizing: border-box;
   
}





.silver{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   background-color: #f2f3f4;
   padding: 4.5rem;
   font-weight: 400; 
   box-sizing: border-box;
   font-size: 5rem;
   margin-bottom: 1rem;
}
.red{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   
   padding: 4.5rem;
   font-weight: 400; 
   box-sizing: border-box;
   font-size: 5rem;
   margin-bottom: 1rem;
}
.green{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   padding: 4.5rem;
   font-weight: 400; 
   box-sizing: border-box;
   font-size: 5rem;
   margin-bottom: 1rem;
}

.container-stopwatch{
   
   width: 85%;
   padding: 1rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin: 0 auto;
   
}
.stopwatch-display{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   background: #f2f3f4;
   padding: 4.5rem;
   font-weight: 400; 
   box-sizing: border-box;
   font-size: 5rem;
   margin-bottom: 1rem;
   border-radius: 10px;

}

/* Кнопки */
.button{
   text-transform: uppercase;
   font-family: 'Nixie One', cursive;
   color: black;
   background: #f2f3f4;
   border: none;
   border-radius: 5px;
   cursor:	pointer;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   font-weight: 700;
   font-size: 20px;
}
.stopwatch-control button:nth-child(2){
   margin: 0 .5rem;
   
}
/* Цифры */
.number{
   font-family: 'Libre Barcode 39 Text', cursive;
  
   
}


/* ДЛЯ JS */
.start-display{
   width: 85%;
   padding: 1rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: rgba(3, 172, 11, 0.5) 0px 6px 40px;
   margin: 0 auto;
}

.stop-display{
   width: 85%;
   padding: 1rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: rgba(172, 14, 3, 0.5) 0px 6px 40px;
   margin: 0 auto;
}

.reset-display{
   width: 85%;
   padding: 1rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: rgba(3, 87, 172, 0.5) 0px 6px 40px;
   margin: 0 auto;
}

.start-button{
   text-transform: uppercase;
   font-family: 'Nixie One', cursive;
   color: black;
   background: #f2f3f4;
   border: none;
   border-radius: 5px;
   cursor:	pointer;
   box-shadow: rgba(3, 172, 11, 0.5) 0px 6px 40px;
   font-weight: 700;
   font-size: 20px;
}

.stop-button{
   text-transform: uppercase;
   font-family: 'Nixie One', cursive;
   color: black;
   background: #f2f3f4;
   border: none;
   border-radius: 5px;
   cursor:	pointer;
   box-shadow: rgba(172, 14, 3, 0.5) 0px 6px 40px;
   font-weight: 700;
   font-size: 20px;
}

.reset-button{
   text-transform: uppercase;
   font-family: 'Nixie One', cursive;
   color: black;
   background: #f2f3f4;
   border: none;
   border-radius: 5px;
   cursor:	pointer;
   box-shadow: rgba(3, 87, 172, 0.5) 0px 6px 40px;
   font-weight: 700;
   font-size: 20px;
}

